* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(47, 46, 65);
}

footer {
    background-color: rgb(108, 99, 255);
    padding: 20px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer a {
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    white-space: nowrap;
    padding: 9px 15px;
}

.header {
    height: 80px;
    background-color: rgb(108, 99, 255);
}

.btn {
    width: 120px;
    height: 40px;

    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;

    color: rgb(255, 255, 255);
    font-weight: 500;
    text-transform: uppercase;
}

.title {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.container {
    max-width: 1180px;
    height: 100%;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.card {
    border: 2px solid rgb(231, 231, 231);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    width: 370px;
    padding: 46px 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}

.card-img {
    height: 200px;
    margin-top: 40px;
    margin-bottom: 36px;
}

.card-description {
    line-height: 22px;
    text-align: left;
}

.icon {
    margin-right: 10px;
}

.main {
    margin: 100px 0;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.cards-wrapper {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;

}

@media (max-width: 768px) {
    .title {
        font-size: 36px;
    }
}


@media (max-width: 360px) {
    .title {
        font-size: 28px;
    }
    footer {
        height: 140px;
        padding-top: 10px;
    }

    li {
        margin: 15px 0;
    }
}

